* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #222;
  background: rgb(171, 186, 183);
}

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* Navigation */
.main-nav {
  width: 100%;
  background-color: rgba(163, 38, 17, 0.9);
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 5;
  top: 0;
}

.nav {
  font-family: 'Source Code Pro', monospace;
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
  display: block;
  margin-right: auto;
  color: white;
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all 0.5s;
}
.nav a:hover {
  color: white;
}

.status {
  color: #d9d9d9;
}

/* Header */
header {
  text-align: center;
  background: radial-gradient(#fff, transparent 130%),
    url('images/background.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  border-bottom: 20px solid rgb(163, 38, 17);
}

header {
  line-height: 1.5;
}

.pic-wrap {
  position: relative;
  margin: 0 auto;
  margin-bottom: 70px;
  height: 150px;
  width: 150px;
  border: 10px;
}

.profile-overlay {
  color: #333;
  text-align: center;
  font-size: 1.3em;
  display: inline-block;
  height: 0;
  padding: 50% 0;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;

  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}

header .profile-image {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid rgb(163, 38, 17);
  transition: all 0.5s;
}

.pic-wrap:hover .profile-overlay {
  visibility: visible;
  opacity: 1;
}

.tag {
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(163, 38, 17);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

/* Experience Page */
.expsize {
  width: 100%;
}

.expPhoto {
  width: 100%;
  border: 1px solid rgba(3, 3, 3, 1);
  box-shadow: 3px 3px 5px 2px rgba(9, 9, 9, 0.5);
}

/* Main */
main {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  margin: 30px auto;
  padding: 20px 15px;
  width: 100%;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #999;
  border-right: 4px solid #999;
  border-radius: 6px;
  transition: all 0.5s;
}

.card h2 {
  text-align: center;
}

.card:hover {
  border-color: rgb(163, 38, 17);
}

/* index page skills */
ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: rgb(158, 123, 55);
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: rgb(113, 118, 40);
}

/* Contact Page */
#workmap {
  max-width: 100%;
  border: 1px solid black;
}

.contact {
  align-self: flex-start;
}

/* Footer */
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: 0.75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 0.4;
  transition: all 0.5s;
}

a.linkedin {
  background-image: url(images/linkedin.svg);
}

a.github {
  background-image: url(images/github.svg);
}

a.social:hover {
  opacity: 1;
}

/* Helper Classes */
.mg-t-large {
  margin-top: 90px;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  html {
    font-size: 120%;
  }

  main {
    flex-direction: row;
  }

  .card {
    width: 45%;
    padding: 20px 40px 40px;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }
}
